<p-toolbar styleClass="shell__toolbar">
  <ng-template #start>
    <p-button
      icon="pi pi-bars"
      [text]="true"
      ariaLabel="Abrir menú"
      (onClick)="openNavigation()"
    />
    <span class="shell__brand">AsisteGLT</span>
  </ng-template>
  <ng-template #end>
    <p-button
      [icon]="isDark() ? 'pi pi-sun' : 'pi pi-moon'"
      [text]="true"
      [rounded]="true"
      [ariaLabel]="isDark() ? 'Usar modo claro' : 'Usar modo oscuro'"
      [pTooltip]="isDark() ? 'Modo claro' : 'Modo oscuro'"
      tooltipPosition="bottom"
      (onClick)="toggleTheme()"
    />
  </ng-template>
</p-toolbar>

<p-drawer
  header="Navegación"
  ariaCloseLabel="Cerrar"
  [visible]="navigationOpen()"
  (visibleChange)="onNavigationVisibleChange($event)"
>
  <p-panelmenu [model]="menu" styleClass="shell__menu" />
</p-drawer>

<main class="shell__content">
  <router-outlet />
</main>

<p-toast position="top-right" />
<p-confirmdialog />
